name: "SOR"
target: trainer.trainer_sor.SORTrainer

model:
  target: models.sor_diff.TrajectorySoR
  d_state: 6
  K_cycles: 3
  guidance_eta: 0.1
  sequence_len: 128
  diffusion_model:
    input_dim: 6        # pos: 3, vel: 3
    cond_dim: 128         # start - pip: 3, goal angle: 2 (sin, cos) , current_angles: 6 : 3*2, stat_vel: 3
    diffusion_t_embed_dim: 128
    d_model: 128
    down_dims: [256, 512, 1024] # [16, 32, 64], [32, 64, 128], [256, 512, 1024]
    kernel_size: 3
    n_blocks: 8
    cond_film: True
    time_encoder: False
    time_t_embed_dim: 128
    num_inference_steps: 12
    guidance_scale: 1.5
    cfg_drop_prob: 0.1
    noise_scheduler:
      _target_: diffusers.schedulers.scheduling_ddim.DDIMScheduler
      num_train_timesteps: 1000
      beta_start: 0.0001
      beta_end: 0.02
      beta_schedule: squaredcos_cap_v2
      clip_sample: True
      set_alpha_to_one: True
      steps_offset: 0
      prediction_type: epsilon # or sample or v_prediction
  constraints_attention:
    d_model: 128
    n_heads: 4
    d_state: 6
    d_ctx: 128
    ff_mult: 4
    dropout: 0.1
  constraint_analyzer:
    softplus_beta: 10.0
    limits:
      v_max: 0.85
      v_min: 0.12
  obs_encoder:
    param_shapes:
      start_position:
        type: linear
        d_obs: 3
        d_model: 64
      start_velocity:
        type: linear
        d_obs: 3
        d_model: 64

training:
  batch_size: 128
  learning_rate: 0.0001
  num_epochs: 1200
  use_ema: True
  optimizer: "adam"
  log_dir: "/mnt/data_nrp/research_t_opt/runs/training"
  log_eval_dir: "/mnt/data_nrp/research_t_opt/runs/inference"
  output_dir: "/mnt/data_nrp/research_t_opt/logs"
  val_every: 2
  save_every: 5
  checkpoint_path: "logs"
  device: "cuda:0"
  plotting: true
  tqdm_interval_sec: 1.0
  from_ckp: true
  train_with_sampling: false
  ckpt_name: "/mnt/data_nrp/research_t_opt/logs/SOR/20251118-175851/logs/checkpoint_395.pth"
  scheduler:
    name: cosine              # Options: linear, cosine, step, constant, etc.
    num_warmup_steps: 5000     # Optional, required for warmup-based schedulers
  loss_weights:
    fape: 1.0
    vel: 0.25
    jerk: 0.05
    constraints: 0.5
    timing: 0.2
    conf: 0.1

ema:
  update_after_step: 0
  inv_gamma: 1.0
  power: 0.75
  min_value: 0.0
  max_value: 0.9999

dataset:
  target: dataset.dataset_trajectory_simple.SimpleTrajDataset
  root_dir: "/home/nrodriguez/Documents/DProjekt/research_t_opt/synth_trajs"
  val: true
  val_ratio: 0.2
  return_raw: false
  cache_last_shard: true
  expect_constant_N: true
  expand_goal: 0
  state_shapes:
    position:
      shape: 3
      method_norm: "standard"
      factor: 1.0
    vel_ned:
      shape: 3
      method_norm: "standard"
      factor: 1.0

  observation_shapes:
    start_position:
      shape: 3
      method_norm: "standard"
    start_velocity:
      shape: 3
      method_norm: "standard"

  environment_shapes:
    goal:
      shape: 3
      method_norm: "standard"
      factor: 1.0